body {
    margin: 0;
}

.layout {
    position: relative;
}

.sidebar {
    position: absolute;
    width: 220px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: #212121;
}

li {
    list-style-type: none;
}