body {
    margin: 0;
}

.layout {
    position: relative;
}

.sidebar {
    position: absolute;
    width: 220px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: #212121;
}

li {
    list-style-type: none;
}

hr {
    width: 200px;
    left: 0px;
    top: 218px;
    border: none;
    background-color: grey; /* Цвет линии */
    color: grey; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
}