@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('./fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

:root {
    --color-black-12: #121212;
    --color-black-18: #181818;
    --color-black-21: #212121;
    --color-black-32: #323232;
    --color-black-38: #383838;
    --color-black-47: #474747;
    --color-White: #FFFFFF;
    --color-Gray-AA: #AAAAAA;
    --color-Blue: #3DA6FF;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-raius: 0px;
    background-color: #606060;      
    border-radius: 12px;
}

ul {
    margin: 0;
    padding: 0;
}

.layout {
    position: relative;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: var(--color-black-21);  
    padding: 16px 20px 16px 0;
    overflow-y: auto;  
}

.subscriptions-tytle {
    color: #AAAAAA;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 16px;
    padding-left: 21px;
    padding-top: 16px;
}

.hambarger {    
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
}

.logo-wrapper {
    margin-bottom: 28px;
}

.menu-items {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--color-black-38);
}

.menu-items:first-child {
    
}

.guide-item a {
    display: block;
    padding: 10px 0 10px 20px;
    font-weight: 400;
    text-decoration: none;
    color: var(--color-White);
    display: flex;
    align-items: center;
    position: relative;    
}

.guide-item a:hover {
    background-color: var(--color-black-38);
}

.icon {
    margin-right: 20px;
    
}

.menu-items-subscriptions li a::after {
    content: '';
    width: 4px;
    height: 4px;
    background-color: var(--color-Blue);
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
}